In [1]:
spark
sc

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<SparkContext master=yarn appName=livy-session-3>

In [2]:
spark.sql("SHOW DATABASES").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------------+
|        namespace|
+-----------------+
|climate_change_db|
|          default|
| raw-crawler-test|
+-----------------+

In [3]:
# Crear dataframes de PySpark de las tablas 
spark.sql("USE climate_change_db;")
raw_temperature_global = spark.sql("SELECT * FROM raw_temperature_global;")
raw_temperature_country = spark.sql("SELECT * FROM raw_temperature_country;")
raw_temperature_state = spark.sql("SELECT * FROM raw_temperature_state;")
raw_temperature_city = spark.sql("SELECT * FROM raw_temperature_city;")
raw_temperature_city.show(3)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|averagetemperature|averagetemperatureuncertainty| city|country|latitude|longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|      null|              null|                         null| City|Country|Latitude|Longitude|
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 3 rows

In [4]:
# Eliminar filas con datos nulos
filter_raw_temperature_global = raw_temperature_global.na.drop(how="any")
filter_raw_temperature_country = raw_temperature_country.na.drop(how="any")
filter_raw_temperature_state = raw_temperature_state.na.drop(how="any")
filter_raw_temperature_city = raw_temperature_city.na.drop(how="any")
filter_raw_temperature_city.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| averagetemperature|averagetemperatureuncertainty| city|country|latitude|longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1750-01-01|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|
|1750-03-01|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|
|1750-04-01|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|
|1750-05-01|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|
|1750-06-01|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|
|1750-07-01|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [5]:
# Escribir los dataframes procesados como csv en la zona trusted del datalake
filter_raw_temperature_global.write.format("csv").option("header","true").save("s3://ari-trabajo1/trusted/temperatures/global/", mode="overwrite")
filter_raw_temperature_country.write.format("csv").option("header","true").save("s3://ari-trabajo1/trusted/temperatures/country/", mode="overwrite")
filter_raw_temperature_state.write.format("csv").option("header","true").save("s3://ari-trabajo1/trusted/temperatures/state/", mode="overwrite")
filter_raw_temperature_city.write.format("csv").option("header","true").save("s3://ari-trabajo1/trusted/temperatures/city/", mode="overwrite")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…